Prueba/Prueba.wsdl

<?xml version="1.0"?>
<definitions name="Prueba"
			 targetNamespace="urn:Prueba"
			 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
			 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
			 xmlns:tns="urn:Prueba"
			 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			 xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
			 xmlns="http://schemas.xmlsoap.org/wsdl/">
	
	<types xmlns="http://schemas.xmlsoap.org/wsdl/" />
	
	<message name="agregarTiempoRequest">
		<part name="tiempo" type="xsd:int" />
		<part name="nombre" type="xsd:string" />
	</message>
	
	<message name="agregarTiempoResponse">
		<part name="respuesta" type="xsd:boolean" />
	</message>
	
	<message name="obtenerTopTenRequest">
		
	</message>
	
	<message name="obtenerTopTenResponse">
		<part name="puntajes" type="xsd:string" />
	</message>
	
	<portType name="PruebaPort">
		
		<operation name="agregarTiempo">
			<input message="tns:agregarTiempoRequest" />
			<output message="tns:agregarTiempoResponse" />
		</operation>
		
		<operation name="obtenerTopTen">
			<imput message="tns:obtenerTopTenRequest" />
			<output message="tns:obtenerTopTenResponse" />
		</operation>
		
	</portType>
	
	<binding name="PruebaBinding" type="tns:PruebaPort">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
		
		<operation name="agregarTiempo">
			<soap:operation soapAction="urn:Prueba#Prueba#agregarTiempo" />
			<input>
				<soap:body use="encoded"
							namespace="urn:Prueba"
							encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded"
							namespace="urn:Prueba"
							encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
	</binding>
	
	<service name="Prueba">
		<documentation />
		<port name="PruebaPort" binding="tns:PruebaBinding">
			<soap:address location="http://titanic.ecci.ucr.ac.cr:80/~eb17016/Prueba/Prueba.php" />
		</port>
	</service>
	
</definitions>